body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#panel {
  overflow: auto;
  position: absolute;
  bottom: 30px;
  border-radius: 3px;
  max-height: 250px;
  overflow: auto;
  width: 100%;
}

#panel-rel {
  position: relative;
}

pre.ui-coordinates {
  background: rgba(0,0,0,0.5);
  padding: 5px 10px 10px 5px;
  position: relative;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  max-height: 100px;
  overflow: auto;
  width: 100%;
  margin: 2px;
}



#date-selector-container {
  background: rgba(0,0,0,0.5);
  position: relative;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  padding: 5px 10px 10px 5px;
}


#q{
  font-size: 64px;
  color: white;
  z-index: 6;
  position: fixed;
  top: 5px;
  right: 25px;
}

#modal-template{
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.vex-overlay {
  height: 150vh;
}


.vex-content p {
  font-size: 14px;
  line-height: 1.25em;
}

.vex-content pre {
  font-size: 14px;
  line-height: 1em;
  }

.vex-content h1 {
  font-size: 32px;
}
