body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

pre.ui-coordinates {
  resize: both;
  overflow: auto;
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 20px;
  padding: 5px 10px 10px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  max-height: 100px;
  overflow: auto;
  width: 100%;
}

#date-selector {
  background: rgba(0,0,0,0.5);
  position: absolute;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  bottom: 150px;
  width: 100%;
  padding: 5px 10px 10px 5px;
}